<!--Footer-->
		<div class="footer">
			<div class="container">
				<div class="row product-row-1">
					<!--hidden content-->
					<div class="col-md-6 md-margin-bottom-40 new hidden-field-1 left hidden hidden-bg">
						<a class="expand-close"></a>
						<div class="row">
							<div class="column left col-md-4 bkt-1">
								<h3>Colace<sup>&reg;</sup> Capsules</h3>
								<ul class="checklist">
									<li>A stool softener</li>
									<li>Stimulant FREE for comfortable relief</li>
									<li>The #1 doctor recommended stool-softener brand</li>
								</ul>
								<p class="ft-link-padding"><a class="arrow ft-link-1" href="/colace/">Learn more about Colace	<sup>&reg;</sup></a></p>
							</div>
							<div class="column mid col-md-4 bkt-1">
								<h3>Colace Clear<sup>&reg;</sup> Soft Gels</h3>
								<ul class="checklist">
									<li>A stool softener</li>
									<li>Dye-free, Gluten&#8209;free and Stimulant-free</li>
									<li>Gentle dependable relief</li>
								</ul>
								<p class="ft-link-padding"><a class="arrow ft-link-1" href="/colace-clear/">Learn more about Colace Clear<sup>&reg;</sup></a></p>
							</div>
							<div class="column right col-md-4 bkt-1">
								<h3>Peri Colace<sup>&reg;</sup> Tablets</h3>
								<ul class="checklist">
									<li>A combination of a stool softener plus stimulant laxative</li>
									<li>Provides gentle, overnight relief</li>
								</ul>
								<p class="ft-link-padding"><a class="arrow ft-link-1" href="/peri-colace/">Learn more about Peri&#8209;Colace<sup>&reg;</sup></a></p>
							</div>
						</div>
					</div><!--end hidden content-->
				<div class="col-md-6 md-margin-bottom-40 top-p-bx1 ">
                    <div class="headline"><h2 class="footer-heading">Which product is right for you?</h2></div>  
					<p class="margin-bottom-25 md-margin-bottom-40">Do you only need a stool softener or a stool softener 
						plus a stimulant laxative? Do you want to avoid dye? Do you prefer gluten&#8209;free products?</p>    
						<a class="arrow-1 expand-toggle" id="expander">Learn the differences between Colace<sup>&reg;</sup>, Colace Clear<sup>&reg;</sup> and Peri&#8209;Colace<sup>&reg;</sup> &nbsp;</a>
                </div>					
					<div class="col-md-6 md-margin-bottom-40">
						<div class="posts">
							<div class="headline"><h2 class="footer-heading">SAVE on Colace<sup>&reg;</sup> Products</h2></div>
							<p class="margin-bottom-25 md-margin-bottom-40">Register for special savings on Colace<sup>&reg;</sup>, Colace Clear<sup>&reg;</sup> and Peri&#8209;Colace<sup>&reg;</sup></p>
							<a class="arrow" href="/savings/" >Sign up today</a>
						</div>
					</div>
				</div>
			</div> 
		</div><!--=== End Footer ===-->

		<!--=== Copyright ===-->
		<div class="copyright copy-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<p>*If pregnant or breastfeeding, consult with your doctor before use</p>
					</div>
				</div>
				<div class="row foot-links-1">
					<ul>
						<li><a href="/sitemap/" title="" >Site Map</a></li>
						<li><a href="/legal/" title="" >Terms of Use</a></li>
						<li><a href="/legal/#privacy" title="" >Privacy Policy</a></li>
						<li><a href="/about/" title="" >About Purdue</a></li>
						<li><a href="/contact/" title="" >Contact Us</a></li>
						<li><a href="/media/" title="" >Media Center</a></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-md-9 copyrightAgreement">                     
						<p>Drug Information For US residents only. Use of this site signifies your agreement to the <a href="/legal/">terms of use</a>. Copyright 2015 Purdue Products L.P.                        
						</p>
					</div>
					<div class="col-md-3">  
						<span style="">SHARE THIS PAGE: &nbsp;</span>
						<ul class="social-icons">                        
							<li><a href="https://twitter.com/ColaceCapsUSA" target="_blank" data-original-title="Twitter" class="social_twitter"></a></li>
							<li><a href="https://www.facebook.com/ColaceCapsules?fref=ts" data-original-title="Facebook" target="_blank" class="social_facebook"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--=== End Copyright ===-->
	</div><!--/wrapper-->

	<!-- JS Global Compulsory -->           
	<script type="text/javascript" src="/assets/plugins/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->           
	<script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
	
	<script type="text/javascript" src="/assets/plugins/horizontal-parallax/js/sequence.jquery-min.js"></script>
	
	<!-- JS Page Level -->           
	<script type="text/javascript" src="/assets/js/app.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
	<!--[if lt IE 9]>
    <script type="text/javascript">
        $('button').click(function(){
            document.location = $(this).parents('a').first().prop('href');
        });
    </script>

<![endif]-->
	<% if @item[:pageLavelJS] %>
            <%= @item[:pageLavelJS]%>
        <% end %>
