	<!-- Carousel -->
				<div class="owl-navigation">
                        <div class="customNavigation">
                            <a class="owl-btn control prev-v1 "></a>
                            <a class="owl-btn control next-v1"></a>
                        </div>
                </div>
﻿<div class="owl-carousel-v1 margin-bottom-50 margin-30">
					<div class="owlCarousel owl-slider" id="owl-item">
                       <a class="carousel-item <%= active_link('/recipes/chinese-noodles/') %>" href="/recipes/chinese-noodles/" title="Chinese Noodles"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/chinese-noodles.jpg" alt="Chinese Noodles"></div>
                       </a>
                        <a class="carousel-item <%= active_link('/recipes/asian-chicken//') %>" href="/recipes/asian-chicken/" title="Asian Chicken and Vegetables"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/asian-chicken.jpg" alt="Asian Chicken and Vegetables"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/pasta-beans/') %>" href="/recipes/pasta-beans/" title="Pasta and Beans"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/pasta-beans.jpg" alt="Pasta and Beans"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/corn-salsa/') %>" href="/recipes/corn-salsa/" title="Corn Salsa"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/corn-salsa.jpg" alt="Corn Salsa"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipe_spicy_potato_skins/') %>" href="/recipes/spicy-potato-skins/" title="Spicy Potato Skins"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/spicy-potato-skins.jpg" alt="Spicy Potato Skins"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/muesli/') %>" href="/recipes/muesli/" title="Homemade Muesli"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/muesli.jpg" alt="Homemade Muesli"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/rice-beans//') %>" href="/recipes/rice-beans/" title="Brown Rice and Black Beans"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/rice-beans.jpg" alt="Brown Rice and Black Beans"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/apple-nut-crumble/') %>" href="/recipes/apple-nut-crumble/" title="Baked Apple Nut Crumble"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/apple-nut-crumble.jpg" alt="Baked Apple Nut Crumble"></div>
                        </a>
                        <a class="carousel-item <%= active_link('/recipes/beet-salad/') %>" href="/recipes/beet-salad/" title="Roasted Beet Salad"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/beet-salad.jpg" alt="Roasted Beet Salad"></div>
                        </a>
						<a class="carousel-item <%= active_link('/recipes/fish-tacos/') %>" href="/recipes/fish-tacos/" title="Fish Tacos"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/fish-tacos.jpg" alt="Fish Tacos"></div>
                        </a>
						<a class="carousel-item <%= active_link('/recipes/rice-pudding/') %>" href="/recipes/rice-pudding/" title="Rice Pudding and Cereal Snack"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/rice-pudding.jpg" alt="Rice Pudding and Cereal Snack"></div>
                        </a>
						<a class="carousel-item <%= active_link('/recipes/vegetarian-lasagna//') %>" href="/recipes/vegetarian-lasagna/" title="Vegetarian Lasagna"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/vegetarian-lasagna.jpg" alt="Vegetarian Lasagna"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/baked-tilapia/') %>" href="/recipes/baked-tilapia/" title="Crispy Baked Tilapia"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/baked-tilapia.jpg" alt="Crispy Baked Tilapia"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/bean-tomato-soup/') %>" href="/recipes/bean-tomato-soup/" title="White Bean and Tomato Soup"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/bean-tomato-soup.jpg" alt="White Bean and Tomato Soup"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/vegetable-chicken-stirfry/') %>" href="/recipes/vegetable-chicken-stirfry/" title="Vegetable Chicken Stir-Fry"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/vegetable-chicken-stirfry.jpg" alt="Vegetable Chicken Stir-Fry"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/yogurt-bran-muffins/') %>" href="/recipes/yogurt-bran-muffins/" title="Yogurt-Bran Muffins"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/yogurt-bran-muffins.jpg" alt="Yogurt-Bran Muffins"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/poached-pears/') %>" href="/recipes/poached-pears/" title="Poached Pears"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/poached-pears.jpg" alt="Poached Pears"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/split-pea-soup/') %>" href="/recipes/split-pea-soup/" title="Split Pea Soup"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/split-pea-soup.jpg" alt="Split Pea Soup"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/all-bean-salad/') %>" href="/recipes/all-bean-salad/" title="All Bean Salad"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/all-bean-salad.jpg" alt="All Bean Salad"></div>
                        </a>
						 <a class="carousel-item <%= active_link('/recipes/vegetarian-chili/') %>" href="/recipes/vegetarian-chili/" title="Vegetarian Chili"><div>
                            <img class="img-responsive thumb" src="/assets/img/recipes/vegetarian-chili.jpg" alt="Vegetarian Chili"></div>
                        </a>
                    </div>
                </div><!-- End Carousel -->