<!--Sidebar-->
			
					<div class="row padding-left-25">
						<span class="right-bar-social-icon-span">SHARE THIS PAGE: </span>
						<ul class="social-icons"> 
						    <li><a href="https://twitter.com/ColaceCapsUSA" target="_blank" data-original-title="Twitter" class="social_twitter"></a></li>					
                            <li><a href="https://www.facebook.com/ColaceCapsules?fref=ts" data-original-title="Facebook" target="_blank" class="social_facebook"></a></li>
                    </ul>
					</div>
				<!--End Sidebar-->