#navigation, #header .callout, #masthead, #main .sidebar, #footer, a.print, #recipes { display:none !important; }
body, #container, #header { background:none !important; }
#main .content { float:none; width:auto; }