---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Baked Apple Nut Crumble"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '7';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

---
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Baked Apple Nut Crumble</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1/4 cup dried cranberries</li>
							<li>4 tablespoons chopped walnuts</li>
							<li>4 tablespoons chopped almonds</li>
							<li>1 tablespoon wheat germ</li>
							<li>2 tablespoons oat bran</li>
							<li>1 tablespoon brown sugar, firmly packed</li>
							<li>1/2 teaspoon ground cinnamon</li>
							<li>2 dashes ground nutmeg</li>
							<li>1/4 cup apple juice</li>
							<li>1/4 cup cold water</li>
							<li>2 teaspoons walnut oil</li>
							<li>3 Golden Delicious apples peeled, cored and sliced lengthwise</li>
							<li>2 1/2 tablespoons honey</li>
							<li>Vanilla ice cream (optional)</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/apple-nut-crumble.jpg" alt="Baked Apple Nut Crumble">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Preheat your oven to 350°.</p>
				<p>In a medium bowl, add cranberries, walnuts, almonds, wheat germ, oat bran, brown sugar, cinnamon and nutmeg. Mix all ingredients together. Set aside.</p>
				<p>In a small bowl, add apple juice, water and walnut oil. Mix and set aside.</p>
				<p>Using a paring knife, carefully peel and core apples. Slice apples lengthwise and place in baking dish. Sprinkle the dry mix onto the apples and then add the liquid mix. Drizzle the honey on top. Cover baking dish with aluminum foil and bake for 45-50 minutes. Serve warm with vanilla ice cream or serve alone as a light dessert.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
			<!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%=render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
            </div>
        </div>  
    </div><!-- End Content Part -->

    