---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  White Bean and Tomato Soup"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '13';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>White Bean and Tomato Soup</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>2 tablespoon olive oil</li>
							<li>2 cloves garlic, crushed</li>
							<li>1 onion, finely chopped</li>
							<li>2 cups canned crushed tomatoes</li>
							<li>1-1/2 quarts vegetable stock</li>
							<li>1/2 teaspoon sage, or 1 teaspoon fresh, chopped</li>
							<li>1 bay leaf</li>
							<li>1/4 teaspoon salt and pepper (optional)</li>
							<li>1-1/2 cans (15 oz) navy beans, rinsed and drained</li>
							<li>1 cup parsley, finely chopped</li>
							<li>2 tablespoon grated Parmesan cheese</li>
							<li>1 tablespoon red wine vinegar</li>
							<li>sauce</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/bean-tomato-soup.jpg" alt="White Bean and Tomato Soup">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Combine half the oil and half the garlic in a heavy pot over medium-low heat. Cook 1-2 minutes until fragrant. Stir in onion. Increase heat to medium and sauté 6-7 minutes or until softened. Stir in tomatoes, stock, sage and bay leaf. Season with salt and pepper to taste. Simmer 20 minutes. Add beans and simmer 10-15 minutes. While soup is cooking, combine remaining garlic and salt in a mortar and pound to a paste (or use a small bowl and a wooden spoon). Add 1 tablespoon chopped parsley and mash into a paste. Stir in remaining oil, cheese and parsley, and vinegar. Serve soup with a spoonful of sauce.</p>
				<p>Serve chilled, if desired.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
            </div>
        </div>  
    </div><!-- End Content Part -->

   