---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Roasted Beet Salad with Saffron, Apples, Arugula and Curry Vinaigrette"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '8';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
               <%= render 'recipe_callout' %>
				<a class="print-icon" href="#"></a>
                <div class="page-header-colace padding-top-20"><h1>Roasted Beet Salad with Saffron, Apples, Arugula and Curry Vinaigrette</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<p class="font-bold margin-left-15">Beets:</p>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 pound red beets</li>
							<li>1 pound chioggia (pink) beets</li>
							<li>1 pound yellow beets</li>
						</ul>
						<p class="font-bold margin-left-15">Apples:</p>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>3 Granny Smith apples</li>
							<li>1 cup apple juice</li>
							<li>1 cup white wine</li>
							<li>2 cups water</li>
							<li>1/2 cup sugar</li>
							<li>1 pinch saffron</li>
						</ul>
						<p class="font-bold margin-left-15">Vinaigrette:</p>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>6 tablespoons grape seed oil</li>
							<li>1 teaspoon curry</li>
							<li>3 tablespoons white balsamic vinegar</li>
							<li>1 tablespoon pine nuts, toasted</li>
							<li>Salt (as needed)</li>
							<li>2 tablespoons golden raisins, chopped</li>
						</ul>
						<p class="font-bold margin-left-15">Garnish:</p>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>Wild arugula and candied pecans</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/beet-salad.jpg" alt="Roasted Beet Salad with Saffron, Apples, Arugula and Curry Vinaigrette">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Toss the beets in a mixture of olive oil, white wine vinegar, sugar, and salt. Wrap in aluminum foil and roast the beets at 400° for 2 1/2 hours. After roasted, peel and cut into cylinders with apple corer.</p>
				<p>Peel and cut apples into cylindrical pieces with apple corer. Combine apple juice, white wine, water, sugar, salt, and saffron to create poaching liquid. Bring poaching liquid to a boil. Once boiled, strain to remove saffron. Add apple cylinders and simmer for 4 minutes. Drain apples and allow to cool.</p>
				<p>Heat 3 tablespoons of grape seed oil with the curry, and let sit for about 20 minutes. Strain, and add the vinegar and the rest of the oil. Season to taste with salt and add the pine nuts and the raisins.</p>
				<p>Toss the beets and apples separately with the vinaigrette and season to taste with salt, if necessary. Arrange the apples and beets on the plate, drizzle with the vinaigrette and garnish with wild arugula and candied pecans.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
            </div>
        </div>  
    </div><!-- End Content Part -->

    