---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Chinese Noodles"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '0';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                
				<%= render 'recipe_callout' %>
				
                <div class="page-header-colace padding-top-20"><h1>Chinese Noodles</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 package (8 ounces) Chinese noodles</li>
							<li>1 tablespoon peanut oil</li>
							<li>1 tablespoon sesame oil</li>
							<li>1 tablespoon grated fresh ginger</li>
							<li>2 garlic cloves, finely chopped</li>
							<li>2 tablespoons reduced-sodium soy sauce</li>
							<li>1 cup small broccoli florets</li>
							<li>1 cup fresh bean sprouts</li>
							<li>8 cherry tomatoes, halved</li>
							<li>1 cup chopped fresh spinach</li>
							<li>2 scallions, chopped</li>
							<li>Crushed red chili flakes (optional)</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/chinese-noodles.jpg" alt="Chinese Noodles">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Bring a large pot of water to boil. Add the noodles and cook until al dente (tender), 10 to 12 minutes, or according to the package directions. Drain the noodles thoroughly. Set aside.</p>
				<p>In a large pot or pan, heat the oils over medium heat. Add ginger and garlic and stir-fry until fragrant. Stir in the soy sauce and broccoli and continue to cook over medium heat for about 3 minutes. Add remaining vegetables and cooked noodles and toss until warmed through.</p>
				<p>Serve topped with crushed red chili flakes (optional).</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
            </div>
        </div>  
    </div><!-- End Content Part -->

   