---
title: "Colace&reg; Capsules and Peri-Colace&reg; - Fish-tacos"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '9';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Fish Tacos</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>2 large tomatoes seeded and chopped</li>
							<li>1/2 small red onion chopped</li>
							<li>2 tablespoons fresh lime juice</li>
							<li>1 1/2 teaspoons lime zest</li>
							<li>1 tablespoon vinegar</li>
							<li>2 tablespoons olive oil</li>
							<li>3 tablespoons finely chopped fresh cilantro</li>
							<li>5 lettuce leaves shredded or thinly sliced</li>
							<li>1 pound halibut or cod, skin removed</li>
							<li>1/4 teaspoon salt</li>
							<li>1/4 teaspoon black pepper</li>
							<li>1 teaspoon chili powder</li>
							<li>8 whole grain hard shell tortillas (you can also use soft tortillas)*</li>
							<li>1 cup shredded cheese</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/fish-tacos.jpg" alt="Fish Tacos">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Preheat your oven at 400°.</p>
				<p>In a medium bowl, combine tomatoes, red onions, 1 tablespoon lime juice, lime zest, vinegar, 1 tablespoon olive oil, and half of the cilantro. Cover and set aside.</p>
				<p>In a separate bowl, combine the lettuce leaves and the remainder of the cilantro and place in refrigerator.</p>
				<p>Cut fish lengthwise into 1 inch strips then cut the fish strips in half. Coat fish with the remainder of olive oil, lime juice, salt, pepper and chili powder. Arrange fish on a baking sheet and bake until the fish is opaque, approx. 5-8 minutes.</p>
				<p>Take fish out of the oven and carefully place fish in tortilla shell, add salsa, lettuce, cheese and serve.</p>
				<p>*If using soft tortillas, place in microwave-safe dish, wrap tortilla with paper towel and microwave for 1 minute.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    