---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Brown Rice and Black Beans"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '6';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Brown Rice and Black Beans</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 tablespoon of olive oil</li>
							<li>1 medium onion chopped</li>
							<li>2 cloves garlic chopped</li>
							<li>3/4 cups brown rice</li>
							<li>2 cups low sodium vegetable or chicken stock</li>
							<li>1 teaspoon ground cumin</li>
							<li>1/4 teaspoon red pepper flakes (optional)</li>
							<li>1 can black beans (14-18 ounces), drained</li>
							<li>1 stalk fresh scallion</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/rice-beans.jpg" alt="Brown Rice and Black Beans">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>In a large pot over medium heat, add oil to the pot. Add onions and garlic and occasionally stir for 3-4 minutes until onions are translucent. Add brown rice, stir for approx. 1 minute. Add stock, cover pot and lower heat, cook for approx. 35-40 minutes. Once rice is cooked, add spices, black beans and stir. Garnish with slivers of scallion as desired.</p>
				
				 <%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    