---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Spicy Potato Skins"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '4';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

---
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Spicy Potato Skins</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>4 large baking potatoes</li>
							<li>1 tablespoon canola oil</li>
							<li>1/4 teaspoon black pepper</li>
							<li>1/4 teaspoon salt</li>
							<li>1/4 teaspoon cayenne pepper</li>
							<li>1/2 teaspoon chili powder</li>
							<li>1/2 teaspoon Tabasco<sup>&reg;</sup> sauce</li>
							<li>4 slices of turkey bacon cooked and chopped</li>
							<li>1 green onion sliced thinly</li>
							<li>1/2 cup of shredded low-fat cheddar cheese</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/spicy-potato-skins.jpg" alt="Spicy Potato Skins">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Preheat the oven to 400°.</p>
				<p>Scrub potatoes clean in water, pat dry and prick each potato several times with a fork. Place potatoes in microwave and set on high for 5 minutes. Turn potatoes and microwave for an additional 5 minutes. Carefully remove potatoes from the microwave and set aside to cool.</p>
				<p>While potatoes are cooling, in a small bowl whisk together canola oil, black pepper, salt, cayenne pepper, chili powder and Tabasco<sup>&reg;</sup> sauce and set aside.</p>
				<p>Once potatoes are cooled to the touch, cut them lengthwise. Scoop out the middle, leave about 1/4 inch of the potato on the skin. Place potatoes on an aluminum-lined baking sheet and brush canola oil mix inside each potato. Top each potato with turkey bacon, green onion and cheese. Bake potatoes in oven until cheese is melted, about 15 minutes. Serve immediately.</p>
				
				 <%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                 <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    