---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Split Pea Soup"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '17';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

---
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Split Pea Soup</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<p class="margin-left-15">For the garnish - ½ cup whole wheat bread cubes, toasted</p>
						<p class="font-bold margin-left-15">Soup Ingredients</p>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>2 tablespoons olive oil</li>
							<li>1 yellow onion, chopped</li>
							<li>1/2 teaspoon salt</li>
							<li>1 large carrot, chopped</li>
							<li>2 cloves garlic, minced</li>
							<li>1 1/2 cups dried yellow or green split peas, picked over, rinsed and drained</li>
							<li>3 cups water</li>
							<li>3 cups vegetable stock or broth</li>
							<li>1/4 teaspoon freshly ground black pepper</li>
							<li>1/2 cup chopped lean, cooked ham</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/split-pea-soup.jpg" alt="Split Pea Soup">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Toast the bread cubes lightly and hold to garnish.</p>
				<p>In a large saucepan, heat the olive oil over medium heat. Add the onion and saut&eacute; until soft, about 6 minutes. Stir in 1/4 teaspoon of the salt. Add the carrot and saut&eacute; until the carrot is softened, about 5 minutes. Add the garlic and saut&eacute; for 1 minute. Stir in the split peas, water, stock, the remaining 1/4 teaspoon salt and the pepper and bring to a boil. Reduce the heat to low, cover partially, and simmer until the peas are tender, approximately 1 hour.</p>
				<p>In a blender or food processor, puree the soup in batches until smooth and return to the saucepan over medium heat. Reheat gently.</p>
				<p>Ladle into bowls. Top each serving with the bread cubes and chopped ham.</p>
				
				 <%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                 <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    