---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Vegetarian Lasagna"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '11';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

--- 
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Vegetarian Lasagna</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 tablespoons olive oil</li>
							<li>2 cloves garlic, crushed</li>
							<li>2 onions, chopped</li>
							<li>1/2 cup fresh basil, chopped</li>
							<li>3 large celery stalks, chopped</li>
							<li>1 red pepper</li>
							<li>4 carrots, chopped</li>
							<li>10 ounce mushrooms, chopped</li>
							<li>1 package frozen chopped spinach, thawed</li>
							<li>3 tablespoons tomato paste</li>
							<li>6 tomatoes, peeled and chopped</li>
							<li>3/4 cup soft tofu</li>
							<li>3/4 pound lasagna noodles</li>
							<li>3/8 cup seasoned breadcrumbs</li>
							<li>1-1/2 tablespoons grated Parmesan cheese</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/vegetarian-lasagna.jpg" alt="Vegetarian Lasagna">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Preheat oven to 350°. Heat oil in a heavy nonstick skillet over medium-high heat. Sauté garlic, onions, basil, celery, pepper, carrots about 5 minutes until onions are soft. Stir in mushrooms and spinach and cook 1 minute. Stir in tomato paste, tomatoes and bring to a boil over medium-high heat. Reduce heat to low. Cover and simmer about 10 minutes or until vegetables are tender. Remove from heat. Beat tofu until smooth. Stir 1/4 cup tofu into vegetable mixture. Cook pasta in a large pot of boiling salted water 7-10 minutes, or until al dente. Drain. Spread a third of the vegetable mixture into a greased 9x13 in. oven proof dish. Top with 2 sheets of pasta. Continue layering vegetable mixture and pasta, finishing with a layer of pasta. Spread remaining beaten tofu evenly over pasta. Combine breadcrumbs and cheese and sprinkle over lasagna. Bake 50 minutes, or until golden.</p>
					
				<%= render 'recipe_carousel' %>
			</div>
			
			<!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

   