---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Vegetarian Chili"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '19';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"
---
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Vegetarian Chili</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1/2 teaspoon extra-virgin olive oil</li>
							<li>1 small yellow onion, chopped</li>
							<li>12 ounces extra-firm tofu, cut into small pieces</li>
							<li>2 cans (14 ounces each) diced tomatoes, low or no added salt</li>
							<li>1 can (14 ounces) chili beans, rinsed and drained</li>
							<li>1 can (14 ounces) black beans, rinsed and drained</li>
							<li>3 tablespoons chili powder</li>
							<li>1 tablespoon oregano</li>
							<li>1 tablespoon chopped fresh cilantro</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/vegetarian-chili.jpg" alt="Vegetarian Chili">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>In a soup pot, heat the olive oil over medium heat. Add the onions and saut&eacute; until soft and translucent, about 6 minutes. Add the tofu, tomatoes, beans, chili powder and oregano. Bring to a boil. Reduce heat and simmer for at least 30 minutes.</p>
				<p>Remove from the heat and stir in cilantro. Ladle into individual bowls and serve immediately.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

   