---
title: "Colace&reg; Capsules &amp; Peri-Colace&reg; -  Vegetable Chicken Stirfry"
description: ""
keywords: ""
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '14';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script><script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"
---
		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
               <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Vegetable Chicken Stir-fry</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 pound boneless, skinless chicken breasts, thinly sliced</li>
							<li>1 clove garlic, minced</li>
							<li>1-2 tablespoons minced fresh ginger</li>
							<li>1 tablespoon olive oil</li>
							<li>1/2 cup peeled and thinly sliced carrots (1 medium carrot)</li>
							<li>1 cup sliced zucchini (1 small zucchini)</li>
							<li>1/2 cup chopped celery</li>
							<li>1 cup snow peas, rinsed (about 3 ounces)</li>
							<li>1 tablespoon tamari</li>
							<li>1 teaspoon seasoned rice vinegar</li>
							<li>3 cups hot cooked brown rice</li>
							<li>2 teaspoons toasted sesame seeds</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/vegetable-chicken-stirfry.jpg" alt="Vegetable Chicken Stir-Fry">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>In a large skillet, stir-fry chicken, garlic, and ginger in hot olive oil for about 10 minutes. Add carrots, zucchini, celery, and snow peas; stir and cook about 5 minutes or until vegetables are tender-crisp. Add tamari and rice vinegar. Stir to mix well. Simmer, covered, 5 minutes or until heated through. Serve over hot rice, sprinkled with sesame seeds.</p>
				
				 <%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                 <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    