---
title: "Colace&reg; Capsules and Peri-Colace&reg; - Yogurt Bran Muffins"
pageLavelCss: "<link rel='stylesheet' href='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css'><script>var recipeNo = '15';</script>"
pageLavelJS : "<script type='text/javascript' src='/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js'></script>
                <script src='/assets/js/plugins/owl-carousel.js'></script><script src='/assets/js/recipe.js'></script>"

---

		
    <!--=== Masthead ===-->
     <div class="recipes-mast-head-img "></div>    

    <!--=== Content Part ===-->
    <div class="container content colaceHpContainer  padding-top-0"> 
        <div class="row colace-content padding-left-25">
            <div class="col-md-8 padding-25">
                <%= render 'recipe_callout' %>
                <div class="page-header-colace padding-top-20"><h1>Yogurt-Bran Muffins</h1></div>
				<div class="row">
					<div class="col-md-7">
						<div class="headline-md colace-sub-heading-content padding-top-20"><h2>Ingredients</h2></div>
						<ul class="padding-bottom-20 colaceHpContainerli listType1 margin-li margin-0">
							<li>1 cup bran cereal</li>
							<li>2 egg whites or 1 egg, slightly beaten</li>
							<li>1/4 cup vegetable oil</li>
							<li>2 containers (6 ounce each) fat-free vanilla yogurt</li>
							<li>1 1/2 cups all-purpose flour</li>
							<li>1/3 cup packed brown sugar</li>
							<li>1 1/4 teaspoon baking soda</li>
							<li>1/2 teaspoon salt</li>
							<li>1/2 cup fresh raspberries or blueberries</li>
						</ul>
					</div>
					<div class="col-md-3 padding-top-20">
						<img class="recipe-img" src="/assets/img/recipes/yogurt-bran-muffins.jpg" alt="Yogurt-Bran Muffins">
					</div>
				</div>
				<div class="headline-md colace-sub-heading-content"><h2>Directions</h2></div>
				<p>Heat oven to 400&deg;. Fill muffin pan with 12 paper muffin baking cups or grease each muffin cup with butter or butter-flavored spray oil. Using a meat mallet or rolling pin, crush bran cereal in a plastic food-storage bag.</p>
				<p>In a bowl, stir together egg whites, oil and yogurt. Add cereal, flour, brown sugar, baking soda and salt; stir until dry ingredients are moistened. Gently stir in berries. Fill each muffin cup about 3/4 full.</p>
				<p>Bake 18-20 minutes or until golden brown. Remove from pan immediately.</p>
				
				<%= render 'recipe_carousel' %>
			</div>
            
            <!--Sidebar-->
            <div class="col-md-4 sidebar-color padding-top-20 ">
                <%= render 'sidebar' %>
                <div class="callout-btn-div green padding-25">
					<a href="/community/"><button class="btn-u btn-u-lg btn-block btn-u-green" type="button"><p class="callout-btn-p">Join the conversation!</p>
					<p class="right-callout-link">See what customers are saying in the Colace<sup>&reg;</sup> Community <i class="fa fa-caret-right"></i></p></button></a>
				</div>
             </div>
        </div>
	</div><!-- End Content Part -->

    